* {
    border: 0;
    padding: 0;
    margin: 0;
}

.idiomas
{
    float: right;
}

h1{
   text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
}
#cuerpo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:  cover;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: black;
    background: black;
    text-align: center;
 
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: #6E9A42;
    padding: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;  
    box-shadow: 0 5px 10px black;
}
.card .back .link{
    border-top: solid 1px black;
    height: 50px;
    line-height: 50px;
}
.card .back .link a{
    color: black;
}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
.container{
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
}
.card1{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem black;
    display: flex;
    margin: 1rem;
    overflow: hidden;
    width: 30rem;
    height: 19rem;
}
.card1 h6{
    opacity: 0.9;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.card1 h2{
    letter-spacing: .1rem;
    margin: 0;
    color: black;
}
.left-column{
    color: white;
    padding: 2rem;
    max-width: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #6E9A42;

}
.left-column h2{
    color: white;

}
.left-column i{
    font-size: 6rem;
     margin: 10px
}
.right-column{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.right-column p{
    font-size: .9rem;
    color: black;
}
.button{
    border-radius: 3rem;
    box-shadow: 0 1rem 1rem black;
    color: white;
    background-color: #6E9A42;
    padding: .0rem 1.3rem;
    letter-spacing:  .1rem;
    align-self: flex-end;
}
@media only screen and (max-width: 750px) {
    #cuerpo{
        display: flex;
        flex-direction: column;
        min-height: 60vh;
    }
}